/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.me-image {
  height: 180px;
}

.intro
{
    text-align: center;
    padding-top: 25%;
    padding-bottom: 25%;
    margin-bottom: 50px;
}

.footro
{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 20px;
}

.about .col
{
    margin-bottom: 24px;
}

.text-title
{
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 50px;
}

.about hr
{
    width: 40px;
    margin-top: 30px;
    margin-bottom: 45px;
}

.story
{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600 !important;
}

.contact hr
{
    width: 40px;
    margin-top: 30px;
    margin-bottom: 45px;
}

.about .card
{
    text-align: center;
}

.portfolio .col
{
    margin-bottom: 24px;
}

.portfolio hr
{
    width: 40px;
    margin-top: 30px;
    margin-bottom: 45px;
}

.portfolio .portfolio-holder
{
    clear: both;
    text-align: center;
}

.portfolio img
{
    width: 33%;
    display: inline-block;
    float: left;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.chatter {
  margin: 0;
  padding: 12px 12px 16px 12px;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: #0f7dc2;
}

.chat-padding {
  margin-bottom: 0px !important;
}

.chatter .chatter_field.chatter_message {
  margin: 0;
  padding: 11px 12px 9px 12px;
  font-size: 14px;
  line-height: 20px;
  height: 22px;
  resize: none;
}

.chatter .chatter_convo {
  position: relative;
  margin: 0 -6px 12px -6px;
  padding: 0 6px;
  height: 215px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  overflow-y: auto;
}

.chatter .chatter_convo .chatter_msg_item {
  position: relative;
  margin: 5px 0 8px 0;
  padding: 8px 10px;
  max-width: 60%;
  display: block;
  background: rgba(255,255,255,0.26);
}

.chatter .chatter_convo .chatter_msg_item .chatter_avatar {
  position: absolute;
  top: 0;
}

.chatter .chatter_convo .chatter_msg_item.chatter_msg_item_admin .chatter_avatar {
  left: -52px;
}

.chatter .chatter_convo .chatter_msg_item.chatter_msg_item_user .chatter_avatar {
  right: -52px;
}

.chatter .chatter_convo .chatter_msg_item .chatter_avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chatter .chatter_convo .chatter_msg_item.chatter_msg_item_admin {
  margin-left: 52px;
  float: left;
}

.chatter .chatter_convo .chatter_msg_item.chatter_msg_item_user {
  margin-right: 52px;
  float: right;
  background: rgba(255,255,255,0.16);
}

.chatter .chatter_convo .chatter_msg_item.chatter_msg_item_admin:before {
  content: '';
  position: absolute;
  top: 15px;
  left: -12px;
  z-index: 10;
  border: 6px solid transparent;
  border-right-color: rgba(255,255,255,0.26);
}

.chatter_msg_item.chatter_msg_item_user:before {
  content: '';
  position: absolute;
  top: 15px;
  right: -12px;
  z-index: 10;
  border: 6px solid transparent;
  border-left-color: rgba(255,255,255,0.16);
}

.chatter .chatter_convo .chatter_msg_item strong.chatter_name {
  padding: 0 1px 1px 0;
  font-weight: 900;
  display: block;
}

::-webkit-scrollbar {
  width: 6px;
}
 
::-webkit-scrollbar-track {
  border-radius: 0;
}
 
::-webkit-scrollbar-thumb {
  margin: 2px;
  border-radius: 0;
  background: rgba(0,0,0,0.2);
}